.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.score {
  width: 120px;
  height: 120px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500px;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.list {
  background-color: #e0e0e0;
  padding: 20px;
  letter-spacing: 1px;
  border-radius: 20px;
  height: 290px;
}

.list * {
  margin-bottom: 0.5rem;
}

.text1,
.text2,
.text3 {
  text-decoration: line-through;
  color: #aaaaaa;
}
