body {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  padding: 50px;
  gap: 5rem;
}
